* {
    margin: 0;
    padding: 0;
}

.btn-block {
    /*display: none;*/
	max-width: 600px;
    margin: auto;
    text-align: center;
}

/*media query breakpoint - smartphones*/
@media (max-width: 480px) {

    .btn-block {
        display: block;
        width: 100%;
    }
}

.btn-block > div {
    display: inline-block;
    overflow: hidden;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 25px;
    
    background-color: lightgray;
    box-shadow: 3px 3px 2px #a4a4a4;
    text-shadow: 1px 1px 2px #a4a4a4;

    font: 40px bold arial, sans-serif;
    color: black;
    line-height: 75px;
}

.btn-block > div:active {
    box-shadow: 2px 2px 2px #a4a4a4;
    transform: translate(1px, 1px);
}

.btn-left {
    width: 20%;
}

.btn-space {
    width: 45%;
}

.btn-right {
    width: 20%;
}